<link rel="stylesheet" href="/css/styles.css">
<!-- 
</main>
<footer>Copyright © <%= new Date().getFullYear() %> covered by Jash Mistry
</footer>
</body>

</html> -->


  </main>

  <footer class="main-footer text-center py-3 mt-5">
    <p class="m-0">
      © <%= new Date().getFullYear() %> · Designed by <strong>Jash Mistry</strong>
    </p>
  </footer>

</body>
</html>
